<h1>Statisztika</h1>

<div>Összes alkalmazottak száma:
        <%= @countall %></div>

<div>Főnökök száma: <%= @countboss %>
</div>

<div>Átlagosan cégnél töltött napok száma:
<%= @avgdays %>
</div>

<div>Főnökök aránya a cégnél (%-osan): <%= @bossrate %>%
</div>